[Desktop Entry]
Encoding=UTF-8
Name=Link to What is the story behind GitHub's octocat mascot?
Type=Link
URL=https://www.quora.com/What-is-the-story-behind-GitHub-s-octocat-mascot
Icon=text-html
